extends layout

block content
   h2= title
   if show
    p Wybierz swoją ulubioną porę roku
     form(class="quiz" method="post")
      each season in data
       label(class="season-label")= season.title 
          input(type="radio" name="season" value=season._id)

      input(type="submit" value="Zagłosuj")
     p Aby zobaczyć wynik głosowania musisz zagłosować!

   else
     p Już oddałeś swój głos!
       each season in data
         div(class="answer")
           p #{season.title} - Oddane głosy #{season.vote} [#{Math.floor(season.vote/sum*100)}%]
     p Liczba oddanych głosów #{sum}
